@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #222;
  color: #fff;
}

h2 {
  font-size: 3rem;
}

.clicks {
  font-size: 5rem;
  transition: 0.3s;
}

.button-container {
  display: flex;
  gap: 8px;
}

.click-button,
.reset-button {
  padding: 10px 20px;
  background-color: #dc143c;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.click-button:hover,
.reset-button:hover {
  transform: scale(1.1);
}
